:root {
  --rmp: calc(1rem / 16);
  --crmp: clamp(1px, var(--rmp), 2px);
}

body {
  counter-reset: htmlElement-index;
}

body > * {
  display: block;
  color: black;
  background-color: white;
  border: calc(24 * var(--crmp)) solid red;
  outline: calc(16 * var(--crmp)) solid white;

  margin-inline: auto;
  margin-block: calc(64 * var(--crmp));

  box-sizing: border-box;
  inline-size: calc(100% - 256 * var(--crmp));
  block-size: calc(128 * var(--crmp));
  padding: calc(20 * var(--crmp));
  font-family: 'JetBrains Mono', 'Inter V', monospace;
  font-weight: bold;

  counter-increment: htmlElement-index;

  &::before {
    content: counter(htmlElement-index)": ";
  }
}

div {

}

#border-inline-start-color-white {
  border-inline-start-color: white;

  &::after {
    content: '#border-inline-start-color-white';
  }
}

.border-inline-end-color-green {
  border-inline-end-color: green;

  &::after {
    content: '.border-inline-end-color-green';
  }
}

[border-block-start-color] {
  border-block-start-color: blue;

  &::after {
    content: '[border-block-start-color]';
  }
}

[border-block-start-color="orange"] {
  border-block-start-color: orange;

  &::after {
    content: '[border-block-start-color="orange"]';
  }
}
[border-block-start-color="yellow"] {
  border-block-start-color: yellow;

  &::after {
    content: '[border-block-start-color="yellow"]';
  }
}
[border-block-start-color=purple] {
  border-block-start-color: purple;

  &::after {
    content: '[border-block-start-color="purple"]';
  }
}

[border-block-end-color] {
  border-block-end-color: blue;

  &::after {
    content: '[border-block-end-color]';
  }
}

[href="#a"] {
  &::after {
    content: '[href="#a"]';
  }
}
